@import "./styleConfig.less";

@media screen and (min-width: 560px) {
    @containerWidth: 30em;
    @containerHeight: 15em;
    @shadowContainer: 0px 1px 2px rgba(0, 0, 0, 0.2), 1px 2px 6px rgba(0, 0, 0, 0.2), 0px 0px 12px rgba(0, 0, 0, 0.2);

    #general_layout()
}

@media screen and (max-width: 560px) {
    @containerWidth: calc(100% - 4em);
    @containerHeight: calc(100% - 4em);
    @shadowContainer: none;

    #general_layout()
}

#general_layout() {
    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;

        background-color: @backgroundColour1;
        color: @textColour1;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    body {
        display: grid;
        justify-items: center;
        align-items: center;

        grid-template-rows: 100%;
        grid-template-columns: 100%;
    }

    #dislayExp {
        color: #555;
        font-size: 1.3em;

        text-align: center;

        width: max-content;
        min-width: calc(100% - 64px);

        padding: 16px;

        position: relative;
        top: calc(50% - 2em);
    }

    .container {
        grid-column: 1;
        grid-row: 1;

        display: grid;
        justify-content: stretch;
        align-content: stretch;

        padding: 2em;

        grid-template-columns: auto 3em;
        grid-template-rows: 2em 2em 1.5em auto;
        gap: 8px;

        width: calc(@containerWidth);
        height: calc(@containerHeight);

        border-radius: 8px;

        box-shadow: @shadowContainer;

        >.textExp {
            grid-column: 1 / 3;
            grid-row: 2;

            overflow: auto;
            white-space: nowrap;

            margin: 0;
        }

        >.label_exp {
            grid-column: 1 / 3;
            grid-row: 3;

            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 100%;
            grid-gap: 4px;

            * {
                margin: 4px;
            }

            >input {
                grid-column: 1;
                grid-row: 1;
                margin: 0;
            }
        }

        >.result {
            grid-column: 1 / 3;
            grid-row: 4;

            border-radius: 8px;
            background-color: @backgroundColour2;
            box-shadow: @shadowDisplayBox;

            overflow: auto;
        }

        >h2 {
            display: block;

            overflow: hidden;

            grid-column: 1 / 3;
            grid-row: 1;

            margin: 0;
            padding: 0;
            text-align: center;
        }
    }
}